* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6fa;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgb(21, 22, 22);
  text-align: center;
  font-size: 40px;
  z-index: 4;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(216, 202, 216);
  position: relative;
  padding: 6px;
  font-size: 22px;
  overflow: hidden;
}

nav li p {
  display: inline-block;
  text-decoration: none;
  color: rgb(231, 220, 231);
  position: relative;
  padding: 6px;
  font-size: 2px Algerian;
  overflow: hidden;
}

nav li a:after {
  position: absolute;
  content: '';
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-bottom: solid 2px #D21E54;
  transition: all 0.5s linear;
  transform: translateX(100%);
}

nav li a:hover:after {
  transform: translateX(0%);
}

div {
  width: 20px;
  height: 32px;
  z-index: 2;
}

#bar {
  display: none;
  height: 50px;
}

div {
  width: 100%;
  background-color: rgb(241, 241, 248);
}

.slider {
  transform: translate(-30px);
}

@media only screen and (max-width:992px) {
  nav {
      transition: all 0.3s linear;
      transform: translate(-250px);
      top: 6%;
      width: 200px;
      height: calc(100% - 40px);
  }
  #bar {
      display: block;
      position: fixed;
  }
  nav li {
      display: block;
  }
}

